.container {
    width: 19.07vw;
    height: 8.19vw;
    display: flex;
    justify-content: center;
    gap: 1vw;
}

.containerImg {
    min-width: 8.91vw;
    min-height: 8.19vw;
    border-radius: 1.30vw;
    background-color: #FBB91C;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 0.5vw;
    font-size: 0.93vw;
    line-height: 1.09vw;
    font-weight: 700;
}

.accessButton {
    width: 5.54vw;
    height: 1.81vw;
    border: none;
    background-color: #fff;
    color: #EB9316;
    font-size: 0.83vw;
    font-weight: 700;
    border-radius: 0.73vw;
}

.accessButton:hover {
    scale: 110%;
    cursor: pointer;
    background-color: #EB9316;
    color: #fff;
}