.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 5vw 0;
}

.topPage {
  background-color: #CBBC33;
  width: 100vw;
  height: 31.24vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3.5vw;
}

.topPage h1 {
  width: 59.7vw;
  font-weight: 700;
  font-size: 2vw;
}

.topContent {
  width: 62vw;
  display: flex;
  gap: 1.5vw;
  flex-wrap: wrap;
}

/* Mobile */
@media (max-width: 700px) {
  
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  
}