.container {
    width: 100vw;
    height: 5.91vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4vw;
    font-size: 1vw;
}

.logo {
    width: 9vw;
}

.navbar {
    display: flex;
    justify-content: center;
    gap: 4vw;
}