.container {
    max-width: 100vw;
    height: 11.7vw;
    line-height: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    /* padding: 4.5vw 10vw; */
  }

  .footerText {
    text-align: center;
    font-size: 0.83vw;
    font-weight: 300;
  }